@{
    Layout = "~/Views/Shared/_LayoutLoggedInAdmin.cshtml";
}
<div class="back-link"><p>&lt;BACK</p></div>

<!--START OF PROFILE CONTAINER-->
<div class="user-profile-container">
    <!--START OF PROFILE PHOTO CONTAINER-->
    <div class="profile-photo-container">
        <div><img src="~/images/user-profile.png" /></div>
        <div class="department-text">
            <p>INFORMATION<br />TECHNOLOGY</p>
        </div>
    </div>
    <!-- END OF PROFILE PHOTO CONTAINER -->
    <div class="profile-description">
        <div class="myprofile-name">
            <p>Admin</p>
        </div>
        <div class="myprofile-username">
            <p>&#64AdminTigerPad01</p>
        </div>
        <hr class="profile-divider" />
        <div class="bio-text">
            <p>BIO</p>
        </div>
        <div class="myprofile-bio">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                varius elementum nisl, vel ullamcorper eros auctor sed. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. In lorem ipsum, lacinia sit amet neque ut,
                condimentum faucibus est.
            </p>
        </div>
        <div class="edit-profile-btn-container">
            <button class="edit-profile-btn">EDIT PROFILE</button>
        </div>
    </div>
    <!-- END OF PROFILE CONTAINER-->
</div>