@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<!--START OF PROFILE CONTAINER-->
<div class="edituser-profile-container">
    <!--START OF PROFILE PHOTO CONTAINER-->
    <div class="editprofile-photo-container">
        <div class="profilephoto-text">
            <p>Profile Photo</p>
        </div>
        <div><img src="~/images/user-profile.png" /></div>
        <div class="uploadimg-text">
            <button>UPLOAD PHOTO</button>
        </div>
    </div>
    <!-- END OF PROFILE PHOTO CONTAINER -->
    <div class="editprofile-description">
        <div class="editprofile-description-inner">
            <div class="account-details-text">
                <p>Account Details</p>
            </div>
            <div class="name-label">
                <p>NAME</p>
            </div>
            <div class="edit-profile-form">
                <input class="edit-profile-field"
                       type="text"
                       placeholder="Change your name"
                       name="name"
                       required />
            </div>
            <div class="name-label">
                <p>USERNAME</p>
            </div>
            <div class="edit-profile-form">
                <input class="edit-profile-field"
                       type="text"
                       placeholder="Change your username"
                       name="username"
                       required />
            </div>
            <div class="name-label">
                <p>BIO</p>
            </div>
            <div class="edit-profile-form">
                <input class="edit-profile-field"
                       type="text"
                       placeholder="Tell me about yourself"
                       name="bio"
                       required />
            </div>
            <div class="name-label">
                <p>CICS PROGRAM</p>
            </div>
            <div class="edit-profile-form">
                <select class="edit-profile-field" name="cicsProgram" required>
                    <option value="cics-it">Information Technology</option>
                    <option value="cics-is">Information System</option>
                    <option value="cics-cs">Computer Science</option>
                </select>
            </div>



            <div class="edit-profile-btn-container">
                <button class="save-changes-btn">SAVE CHANGES</button>
                <button class="cancel-btn">CANCEL</button>
            </div>
        </div>
    </div>
    <!-- END OF PROFILE CONTAINER-->
</div>


