@using TigerPadG4.Data

@model UserProfile

@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<!--START OF PROFILE CONTAINER-->
<div class="user-profile-container">
    <!--START OF PROFILE PHOTO CONTAINER-->
    <div class="profile-photo-container">
        <div><img src="~/images/user-profile.png" /></div>
        <div class="department-text">
            <p>@Model.CicsProgram</p>
        </div>
    </div>
    <!-- END OF PROFILE PHOTO CONTAINER -->
    <div class="profile-description">
        <div class="myprofile-name">
            <p>@Model.Name</p>
        </div>
        <div class="myprofile-username">
            <p>&#64;@Model.Username</p>
        </div>
        <hr class="profile-divider" />
        <div class="bio-text">
            <p>BIO</p>
        </div>
        <div class="myprofile-bio">
            <p>
                @Model.Bio
            </p>
        </div>

        <div class="edit-profile-btn-container">
            <form asp-controller="User" asp-action="EditUserProfile" method="get">
                <button type="submit" class="edit-profile-btn">EDIT PROFILE</button>
            </form>
        </div>

    </div>
    <!-- END OF PROFILE CONTAINER-->
</div>
