@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
    
}
<title>Sign Up</title>
@using TigerPadG4.ViewModel
@model RegisterViewModel;

<div class="main-container">
    <div class="register-container">
        <div class="register-logo">
            <img src="~/images/logo-notext.png" />
        </div>
        <div class="community">
            <h3><b>community</b></h3>
        </div>
        <div class="made-with-more">
            <h3><b>made with more</b></h3>
        </div>
        <div class="productivity">
            <h3><b>productivity</b></h3>
        </div>
    </div>


    <!-- Add a hidden dialog box for password error -->
    <div id="passwordErrorDialog" class="dialog-box">
        <p id="passwordErrorText"></p>
    </div>

    <!--START OF REGISTRATION FORM-->
 <form asp-action = "Register">

        <div class="form-group" asp-validation-summary="All"></div>

    <div class="register-form-container">
        <div class="register-form">
            <h3><b>SIGN UP</b></h3>
            <hr />
        </div>

            @if (ViewData.ModelState.TryGetValue("UserName", out var userNameErrors))
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in userNameErrors.Errors)
                    {
                        <p style="text-align: center; color: red; margin: 0; font-size: 10px;">The username is taken. Please try another.</p>
                    }
                </div>
            }

            @if (ViewData.ModelState.TryGetValue("Password", out var passwordErrors))
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in passwordErrors.Errors)
                    {
                        <p style="text-align: center; color: red; margin: 0; font-size: 11px; line-height: 2.5px;">Password must contain atleast 1 uppercase, 1 lowercase,</p>
                        <p style="text-align: center; color: red; margin: 0; font-size: 11px; line-height: 23px;">1 number, and 8 minimum characters.</p>

                    }
                </div>
            }


        <div>
            <label asp-for="UserName"><b>USERNAME</b></label>
        </div>
        <div class="register-form">
            <input asp-for ="UserName"
                   class="register-field"
                   type="text"
                   placeholder="Enter your username"
                   name="username"
                   required />
        </div>

        <div>
            <label for="email"><b>EMAIL ADDRESS</b></label>
        </div>
        <div class="register-form">
            <input asp-for="Email"
                    class="register-field"
                   type="email"
                   placeholder="thomasino@ust.edu.ph"
                   name="email"
                   required />
        </div>

        <div>
            <label asp-for="Password"><b>PASSWORD</b></label>
        </div>
        <div class="register-form">
            <input 
                    asp-for="Password"
                    class="register-field"
                   type="password"
                   placeholder="Type your password"
                   name="password"
                   required />
        </div>

        <div class="register-form">
            <button class="btn-main" type="submit" value="Register Account">Create Account</button>
        </div>
    </div>

   

    </form>
</div>
    <!-- END OF REGISTRATION FORM-->



<!-- END OF MAIN CONTAINER-->
<div class="secondary-container">
    <p>Already have an account?</p>
    <div class="register-form">
         <a asp-controller="SignUp" asp-action="UserLogin" class="btn-login">Login</a>
    </div>
</div>

<script>
    function redirectToUserLogin() {
        // Redirect to UserLogin page
        window.location.href = '/SignUp/UserLogin';
    }
</script>