@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
    
}

@using TigerPadG4.ViewModel
@model LoginViewModel;


<!--START OF LOGIN FORM-->
<div class="login-form-container">
    <div class="user-login-form">
        <h3><b>WELCOME BACK, TIGER</b></h3>
        <hr class="login-hr" />
    </div>

    <form asp-action="Login">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                <p style="text-align: center; color: red">Login failed.</p>
                <p style="text-align: center; color: red"> Please check your username and password. </p>
            </div>

        }

        <div>
            <label asp-for="Username"><b>USERNAME</b></label>
        </div>
        <div class="user-login-form">
            <input asp-for="Username"
                   class="user-login-field"
                   type="text"
                   placeholder="Enter your username"
                   name="username"
                   required />
        </div>

        <div>
            <label asp-for="Password"><b>PASSWORD</b></label>
        </div>
        <div class="user-login-form">
            <input asp-for="Password"
                   class="user-login-field"
                   type="password"
                   placeholder="Type your password"
                   name="password"
                   required />
        </div>

        <div class="user-login-form">
            <button class="btn-main" type="submit">LOGIN</button>
        </div>
    </form>
    
    <div class="user-login-form">
        <p class="signup-text">DON'T HAVE AN ACCOUNT?</p>
    </div>
    <div class="user-login-form">
        <a asp-controller="SignUp" asp-action="Index" class="btn-signup">SIGN UP</a>
    </div>

    <div class="user-login-form">
        <p class="admin-text">DO YOU HAVE AN ADMIN ACCOUNT?</p>
    </div>
    <div class="user-login-form">
        <a asp-controller="SignUp" asp-action="AdminLogin" class="btn-admin">ADMIN</a>
    </div>
</div>

<script>
    function redirectToUserHomepage() {
        // Redirect to UserHomepage page
        window.location.href = '/User/UserHomepage';
    }
</script>
