@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";

}

<title>About TigerPad</title>

<div class="grid-container">
    <div class="about-header-grid-1">About</div>
    <div class="about-text-grid-2">
        Welcome to TigerPad, your ultimate online hub for connecting with fellow College of Information and Computing Sciences students from the University of Santo Tomas!
        <br /><br />
        Here, we're a community made with more productivity! TigerPad is more than just an online hub-we foster a vibrant and supportive community where everyone can share and engage with your colleagues!
        <br /><br />
        In TigerPad, we provide our CICS students with a safe space to express themselves. CICS life can be overwhelming at times, and it's important to have a supportive community to share your thoughts with! TigerPad offers a safe space for you to express yourself and connect with others-even anonymously! If you're looking for a place to ask questions, seek advice, or to simply vent out your thoughts, TigerPad is your go-to platform for all your CICS academic and personal needs!
        <br /><br />
        Join TigerPad today and let's make your CICS journey more productive!
    </div>
    <div class="about-grid-3"></div>
    <div class="about-team-grid-4">
        The Thomasian team that made this website possible:<br><br>

        Chavez, Minette<br>
        Magtaka, Lance Eugene<br>
        Tacula, Karl<br>
        Tejada, Joseph Kiel<br>
        Zulaybar, Kirsten Faye
    </div>
</div>